<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h1>Days of the week</h1>

<div class="container mt-3">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Monday</th>
        <th>Thursday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tuesday</td>
        <td>Friday</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>Saturday</td>
      </tr>
      <tr>
        <td></td>
        <td >Sunday</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>


