
<!DOCTYPE html>
<html lang="uz">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Baholash Mezonlari</title>
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
</style>
</head>
<body>
<table>
  <thead>
    <tr>
      <th>N</th>
      <th>FIO</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Yusufjon Muhammadov</td>
      <td>3</td>
      <td>5</td>
      <td>2</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>

    <tr>
      <td>2</td>
      <td>Nurbek Doniyorov</td>
      <td>3</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>

    </tr>
    <tr>
      <td>3</td>
      <td>Boburmirzo Muhammadov</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>

    </tr>
    <tr>
      <td>4</td>
      <td>Fazliddin Asomov</td>
      <td>3</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>

    </tr>
    <tr>
      <td>5</td>
      <td>Muhammadjon Ibrohimov</td>
      <td>3</td>
      <td>2</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td></td>

    </tr>
    <tr>
      <td>6</td>
      <td>Fazliddin Asomov</td>
      <td>3</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>

    </tr>
  </tbody>
</table>
</body>
</html>
