
<!DOCTYPE html>
<html lang="uz">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Baholash Tartibi</title>
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
</style>
</head>
<body>
<table>
  <thead>
    <tr>
      <th>No</th>
      <th>FIO</th>
      <th><h5>Matematika</h5></th>
      <th><h5>Tarix</h5></th>
      <th><h5>Ona tili</h5></th>
      <th><h5>Biologiya</h5></th>
     <th><h5>Kimyo</h5></th>
     <th><h5>Fizika</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Muhammad Choriyev</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>


    <tr>
      <td>2</td>
      <td>Javlon Nosirov</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>


    </tr>
    <tr>
      <td>3</td>
      <td>Diyorbek Vafoqulov</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>


    </tr>
    <tr>
      <td>4</td>
      <td>Ravshanov To`lqin</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>


    </tr>
    <tr>
      <td>5</td>
      <td>Ahmad Mamasafoyev</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>


    </tr>
    <tr>
      <td>6</td>
      <td>Fazliddin Akmalov</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>


    </tr>
  </tbody>
</table>
</body>
</html>
